*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 7%;
    border-bottom: 1px solid #f8f8f8;
}
#logo{
    color: #547ef7;
    font-size: 1.5rem;
}
header .links a{
    margin: 0px 1.3rem;
    color: #8d8d8d;
    font-weight: 500;
}
header .links a:hover{
    color: black;
}
.log-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.icon{
    border-right: 1px solid #b9b9b9;
    padding:0px  5px;
}
#ico{
    font-size: 1.5rem;
    cursor: pointer;
}
.login a{
    padding: 12px 18px;
    background: none;
    border: 2px solid #547ef7;
    color: #547ef7;
    border-radius: 5px;
    cursor: pointer;
}